body {
    /*font-family: 'Courier';*/
    font-weight:300;
    font-size:18px;
    text-align: justify;
    margin-bottom:40px;
}
.logo {
    font-family: 'Londrina Outline', cursive;
    font-size:80px;
    line-height: 25px;;
    text-transform: uppercase;
    text-align: center;
    margin-top:90px;
}
.logo a {
    text-decoration: none;
    color:black;
}
.navigation {
    text-align:center;
    padding-bottom:40px;
    padding-top:40px;
}
.btn-default:hover {
    border-color: black;
    background-color: transparent;
}
.btn-default.focus, .btn-default:focus {
    background-color:transparent;
    border-color:black;
}
.navigation button{
    background-color:transparent;
    display:inline-block;
    border:1px solid black;
    padding:10px 15px;
    color:black;
    font-weight:200;
    border-radius:20px;
}
.navigation button:focus{
    text-decoration: none;
}
#url {
    padding:10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    opacity:0.8;
    overflow: hidden;
}
#url a {
    color:#E74C3C;
}
#url a {
    text-decoration: none;
}
#url:hover {
    opacity:1;
}
.link {
    text-align:center;
    font-weight:400;
    font-size:30px;
    color:black;
}

.link-small {
    text-align:center;
    font-size:14px;
    color:black;
}
.form-info {
    font-size:14px;
    color:black;
}
#embed img {
    display:block;
    padding:30px;
    margin:0 auto;
    max-width:80%;
}
#embed iframe {
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}

.footer {
    text-align:center;
    font-size:20px;
    padding-bottom:40px;
}
.footer a {
    display: inline-block;
    color:#a9a9a9;
    text-decoration: none;
    opacity: 1;
}

.footer a:hover {
    opacity: 0.8;
}

.footer a span{
    display:block;
}

.footer a i {
    font-size:40px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .logo {
        font-size:190px;
        margin-top:120px;
        margin-bottom:80px;
    }

    .navigation button {
        font-size:50px;
        font-weight:200;
        padding:30px 35px;
        margin-left:15px;
        border-radius:40px;
    }

    .link {
        margin-top:40px;
        margin-bottom:20px;
        font-size:50px;
    }

    #url{
        margin-bottom:40px;
    }

    #url a{
        font-size:50px;
    }

    #embed, .about-text, .about-text h2 {
        font-size:50px;
        line-height: 70px;
        padding-bottom:40px;
    }

    #embed p{
        padding-bottom:10px;    
    }

    .footer {
        font-size:50px;
        padding-bottom:40px;
    }
    
    .footer a i {
        font-size:80px;
        padding-bottom:20px;
    }    
}