body {
    /*font-family: 'Courier';*/
    font-weight:300;
    font-size:18px;
    line-height:25px;
    text-align: justify;
    margin-bottom:40px;
}
.logo {
    font-family: 'Londrina Outline', cursive;
    font-size:80px;
    text-transform: uppercase;
    text-align: center;
    margin-top:60px;
}
.navigation {
    width:220px;
    margin:0 auto;
    padding-bottom:20px;
    padding-top:40px;
}
.navigation.single {
    width:240px;
}
#url {
    padding:10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    opacity:0.8;
}
#url a {
    color:#E74C3C;
}
#url:hover {
    opacity:1;
}
.link {
    text-align:center;
    text-decoration: underline;
    font-weight:bold;
    font-size:20px;
    color:black;
}
#embed img {
    display:block;
    padding:30px;
    margin:0 auto;
    max-width:80%;
}
#embed iframe {
    width:100%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    body {
        font-size: 2.5em;
        line-height:2em;
        text-align: inherit;
    }
    .logo {
        font-size:150px;
        margin-top:100px;
    }
    .navigation {
        width:620px;
        margin-top:30px;
        margin-bottom:30px;
    }
    .btn {
        font-size:1.5em;
        padding:30px;
        margin:10px;
    }
}