<html xmlns="http://www.w3.org/1999/html">
<head>
<button onclick="location.href = '/'" class="reko">reko</button>
<div id="url"></div>
</br>
</head>
<body style="font-family: 'Courier'">

<h2> About Reko (pre-alpha version) </h2>
<p> Reko learns about your interests and gives you suggestions about what you may like</p>
<p> Reko is opensource , you can check the code <a href="https://github.com/vargi/reko">here</a></p>
<p> Your interests are kept with a token only your client has, interests may change between different browsers, we don't have any authentication or signup for now</p>
<p> We have also a NSFW version, you may visit <a href="/nsfw">here</a> if you are 18+ </p>
<p> You can use RIGHT ARROW for like and LEFT ARROW for next </p>
</body>
</html>