<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Reko</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
	<div class="logo">Reko.</div>
    <div class="navigation">
        <button onclick="location.href = '/'" class="btn btn-default about"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
    </div>
    <div class="container">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2 about-text">
        		<h2> About Reko (pre-alpha version)</h2>
				<p> Reko learns about your interests and gives you suggestions about what you may like</p>
				<p> Reko is opensource , you can check the code <a href="https://github.com/vargi/reko">here</a></p>
				<p> Your interests are kept with a token only your client has, interests may change between different browsers, we don't have any authentication or signup for now</p>
				<p> You can use RIGHT ARROW for like and LEFT ARROW for next </p>
        	</div>
        </div>
        <hr>
        <footer>
            <div class="footer">
                <a href="https://github.com/vargi/reko" title="reko"><i class="fa fa-github" aria-hidden="true"></i>&nbsp <span>https://github.com/vargi/reko</span></a>
            </div>
        </footer>
	</div>
</body>
</html>