<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Recko</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    <div class="logo"><a href="/">Recko.</a></div>
    {% block navigation %}
    <div class="navigation">
        <button class="btn btn-default next"><i class="fa fa-chevron-right" aria-hidden="true"></i> Next</button>
        <button class="btn btn-default like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</button>
        <button onclick="location.href='/mylikes'" class="btn btn-default likes"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</button>
    </div>
    {% endblock %}
{% block content %}
{% endblock %}
<footer>
    <div class="footer">
    <a target="_blank" href="https://github.com/vargi/recko" title="recko"><i class="fa fa-github" aria-hidden="true"></i>&nbsp <span>https://github.com/vargi/recko</span></a>
        </br>
    <a href='/about' class=" about">what is recko?</a>

    </div>
</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.js"></script>
{% block extrascript %}
{% endblock %}
</body>
</html>
