<html xmlns="http://www.w3.org/1999/html">
<head>
<button class="next">next</button>
<button class="like">like</button>
<button class=nsfw>nsfw</button>
<div id="url"></div>
</br>
</head>
<body style="font-family: 'Courier'">
<div id="embed">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    var token = $.cookie("token");
    var nsfw = false;
    var _id;
    if (!token) {
        $.post("/authenticate", {}).done(function(response) {
            token = response;
            $.cookie("token", token);
            getter()
        })
    }
    else{
        getter()
    }
    function getter() {
        $.get("next", {
            token: token,
            nsfw: nsfw
        }, function (response) {
            _id = response.article._id;
            if (response.article.content.startsWith("http")) {
                $("#embed").html("<img height=80% src=" + response.article.content + "></img>");
            }
            else {
                $("#embed").html(response.article.content);
            }
            $("#url").html('<a href="' + response.article.url + '">' + response.article.url + '</a>')
        }).fail(function (response) {
            if (response.status == 403){
            $.removeCookie("token")
        }})
    }

    var like = function(){
     var data = JSON.stringify({url: _id});
     console.log(data);
     $.ajax({type: 'POST',
             url: '/like?token=' + token,
             data: data,
             contentType: "application/json",
             dataType: "application/json",
             complete: function (response) {
                getter()
            }
            });

    }
    $('.like').on("click", like());
    $(".next").on("click", function(){
        getter()
    });
    $(".nsfw").on("click", function(){
        nsfw = !nsfw;
        getter()
    });

    $(document).keydown(function(e) {
        switch(e.which) {
            case 37: // left
                getter()
                break;
            case 39: // right
                like();
        }})

</script>
</body>
</html>